@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: center;
  padding: 30px;
  background-color: rgb(183, 163, 131);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

input,
button,
.option,
.option.correct,
.option.incorrect,
.option.selected {
  border-radius: 5px;
  border: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  text-color: #000;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

#next-btn {
    background-color: #333;
    color: #fff;
}

.option {
  padding: 10px 20px;
  margin: 5px;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  background-color: white;
}

.option.selected {
  background-color: #0a68a2;
  color: #fff;
}

.option.correct {
  background-color: #24800d;
  color: #fff;
}

.option.incorrect {
  background-color: #ff5e5e;
}

footer {
  font-size: 12px;
  padding: 10px;
  margin-top: 20px;
  color: #333;
}

/* Responsive styles */
@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  input,
  button,
  .option {
    font-size: 14px;
    padding: 8px;
  }

  #app {
    padding: 15px;
  }
}